/* App-wide styling */
:root {
  background-color: #101010;
  color: #cccccc;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
  padding: 3%;
}

header {
  display: flex;
  font-weight: inherit;
  color: inherit;
}

a {
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  div {
    color: #213547;
    background-color: #ffffff;
  }
}
